.items {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  
  .item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .imgContainer {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
  }
  
  .image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
  }
  
  .txtContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .detail {
    font-size: 12px;
  }
  
  .date {
    color: gray;
  }
  